{% extends base_template or "templates/dm_portal_base.html" %}

{% block page_actions %}
<a href="{{ cfg.route }}" class="dm-btn"><i class="fa fa-arrow-left"></i> Quay lại</a>
{% if can_edit %}
<button type="button" class="dm-btn primary" onclick="dmSaveRequest(0)"><i class="fa fa-save"></i> Lưu nháp</button>
<button type="button" class="dm-btn" onclick="dmSaveRequest(1)" style="background: #10b981; color: white; border: none;">
    <i class="fa fa-paper-plane"></i> Gửi yêu cầu
</button>
{% endif %}
{% endblock %}

{% block dm_content %}
{% include "templates/includes/dm_request_form.html" %}
{% endblock %}

{% block dm_scripts %}
<script>
    window.DM_REQUEST = {{ {"doctype": cfg.doctype, "route": cfg.route} | tojson }};
</script>
{% endblock %}
